# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [52]:
# Your code goes here
import pandas as pd
url1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
url2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
url3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'

df1 = pd.read_csv(url1)
df2 = pd.read_csv(url2)
df3 = pd.read_csv(url3)

Because the column names are not the same so we should first of all check the columns names

In [53]:
print(df1.columns)
print(df2.columns)
print(df3.columns)

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')
Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [54]:
column_name_mapping = { 
    'ST': 'State',
    'GENDER': 'Gender'
}

df1.rename(columns=column_name_mapping, inplace=True)
df2.rename(columns=column_name_mapping, inplace=True)
df3.rename(columns=column_name_mapping, inplace=True)

In [55]:
print(df1.columns)
print(df2.columns)
print(df3.columns)

Index(['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
Index(['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')
Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [56]:
# concate databases 

df = pd.concat([df1, df2, df3], axis=0)
df

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [57]:
# Your code here


# Lower case all columns
df.columns = df.columns.map(lambda x: x.lower())

# White space in columns
df.columns = df.columns.map(lambda x: x.replace(" ", "_"))
df.columns

# replace State
df.rename(columns={'st': 'state'}, inplace=True)
df.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [58]:
# Your code here

# Gender 
# print(df['gender'].unique())
gender_map = {
    'F': 'F',
    'Femal': 'F',
    'female': 'F',
    'M': 'M',
    'Male': 'M'
}
df['gender'] = df['gender'].replace(gender_map)

# Change State names
# print(df['state'].unique())
state_map = {
    'Cali': 'California',
    'WA': 'Washington',
    'AZ': 'Arizona'
}
df['state'] = df['state'].replace(state_map)

# Education
# print(df['education'].unique())
education_map = {
    'Bachelors': 'Bachelor'
}
df['education'] = df['education'].replace(education_map)

# Customer Lifetime Value
df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '')

#Car Type
# print(df['vehicle_class'].unique())
car_map = {
    'Luxury Car': 'Luxury',
    'Luxury SUV': 'Luxury',
    'Sports Car': 'Luxury'
}
df['vehicle_class'] = df['vehicle_class'].replace(car_map)

In [59]:
# Your code here

# Customer Lifetime Value
# print(df.columns)
# print(df['customer_lifetime_value'].unique())
df['customer_lifetime_value'].fillna(0, inplace=True)
try:
    df['customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value'])
except: 
    df['customer_lifetime_value'] = df['customer_lifetime_value'].fillna(df['customer_lifetime_value'].mean(), inplace=True)

# print(df['customer_lifetime_value'].dtypes)


# Number of Open Complaints
# print(df['number_of_open_complaints'].unique())
print(len(df))
for i in range(len(df)-1):
    try:
        # print(i, "      ", df['number_of_open_complaints'][i])
        x = df['number_of_open_complaints'][i]
        # print("x    ",x)
        parts = str(x).split('/')
        df['number_of_open_complaints'][i] = parts[1]
    except:
        continue


number_of_open_complaints_map = {  
    '0': 0, 
    '1': 1,
    '2': 2,
    '3': 3,
    '4': 4,
    '5': 5
}
df['number_of_open_complaints'] = df['number_of_open_complaints'].replace(number_of_open_complaints_map)

print(df['number_of_open_complaints'].unique())

12074

/var/folders/rv/whttr0rs0h71ygvlwqb00mt00000gp/T/ipykernel_49601/2927736790.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['number_of_open_complaints'][i] = parts[1]

[ 0.  2.  1.  3.  5.  4. nan]

In [60]:
# Your code here

def drop_duplicates(df):
    df.drop_duplicates(inplace=True)
    return df

# Counting number of duplicates
print("Number of duplicates Before Droping: ", df.duplicated().sum())
df = drop_duplicates(df)
# Counting number of duplicates
print("\nNumber of duplicates After Droping: ", df.duplicated().sum())

Number of duplicates Before Droping:  2942

Number of duplicates After Droping:  0

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [61]:
# Your code goes here
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
marketing_customer_analysis = pd.read_csv(url)

print(marketing_customer_analysis.columns)

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [65]:
pivot = pd.pivot_table(marketing_customer_analysis, index=['sales_channel'], values=['total_claim_amount'], aggfunc='sum').round(2)
pivot

               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [63]:
pivot = pd.pivot_table(marketing_customer_analysis, index=['gender','education'], values=['customer_lifetime_value'], aggfunc='mean').round(2)
pivot

                             customer_lifetime_value
gender education
F      Bachelor                              7874.27
       College                               7748.82
       Doctor                                7328.51
       High School or Below                  8675.22
       Master                                8157.05
M      Bachelor                              7703.60
       College                               8052.46
       Doctor                                7415.33
       High School or Below                  8149.69
       Master                                8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here